{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title> Catch Python Keywords </title>
    <link rel="stylesheet" type="text/css" href="{% static 'firstGame/css/style.css' %}">
</head>

<body>
    <header>
        <p> Phaser Demo | Catch Python Keywords </p>
    </header>
    <main>
        <div id="gameContainer">
            <canvas id="gameCanvas"></canvas>
            <div id="scoreBoard">
                <span id="score"> 0 </span>
            </div>
            <div id="timeBoard"> 
                <span id="timeRemaining"> 60 </span>
            </div>
        </div>
        <button id="startButton">Start Game</button>
        <div id="finalScore"> Final Score Placeholder </div>
    </main>
    <footer>
        <p> Created By MakaAI </p>
    </footer>
    <script type="module" defer src="{% static 'firstGame/js/gameScene.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/phaser@3.15.1/dist/phaser.min.js"></script>

</body>
</html>

